h3 Organic Ice Cream

hr

p Our goal is to create the 
	b best ice cream on the Planet
	span . We understand to get the best result we need to use the 
	b very best ingredients
	span . We searched the British Isles to find the perfect organic farm where the cows are 
	b extra happy
	span . We find that happy cows give the best milk. Using only 100% natural organic cream, unrefined sugar and organic milk from 
	b Isle of Wight 
	span cows guarantees the best quality ice cream.

h3 Natural Flavours

hr

p 
	span Our core flavour selection has been created for all of you who just can’t decide. 
	span Our exciting flavours were inspired from places as far away as Japan. Choose from one of the following, or do it the Custom Creams way and 
	b create your own.

p Real Vanilla Bean

p Award Winning Chocolate and Chilli

p Crunchy Popcorn 
	span.flavour-note British

p Chestnut and Vanilla 
	span.flavour-note French

p Single/Double Espresso 
	span.flavour-note Italian

p Hazelnut and Chocolate

p Fresh English Strawberry

p Black Sesame 
	span.flavour-note Japanese

p Edemama 
	span.flavour-note Japanese

p Green Tea 
	span.flavour-note Japanese

p Nutella

p Peanut Butter 
	span.flavour-note American

p Coconut Cream

p Real Pistachio

p After Eight Mint

