h3 Organic Ice Cream

hr

p Our goal is to create the best ice cream on the Planet. We understand to get the best result we need to use the very best ingredients. We searched the British Isles to find the perfect organic farm where the cows are extra happy. We find that happy cows give the best milk. Using only 100% natural organic cream, unrefined sugar and organic milk from Isle of Wight cows guarantees the best quality ice cream.

h3 Natural Flavours

hr
div.left.med-col
	p 
		span Our core flavour selection has been created for all of you who just can’t decide. 
		span Our exciting flavours were inspired from places as far away as Japan. Choose from one of the following, or do it the Custom Creams way and create your own.

	p Bacon and Maple

	p Real Vanilla Bean

	p Award Winning Chocolate and Chilli

	p Crunchy Popcorn 
		span.flavour-note British

	p Chestnut and Vanilla 
		span.flavour-note French

	p Single/Double Espresso 
		span.flavour-note Italian

	p Hazelnut and Chocolate

	p Fresh English Strawberry

	p Blackcurrant

	p Rasberry

	p Black Sesame 
		span.flavour-note Japanese

	p Edemama and Black Pepper
		span.flavour-note Japanese

	p Green Tea 
		span.flavour-note Japanese

	p Nutella

	p Peanut Butter 
		span.flavour-note American

	p Coconut Cream

	p Real Pistachio

div.left.med-col
	div.flavour-box1.box

	p.flavour-desc Double Espresso

	div.flavour-box2.box

	p.flavour-desc Pistachio

	div.flavour-box3.box

	p.flavour-desc Japanese Black Sesame

	div.flavour-box4.box

	p.flavour-desc Green Tea
div.clear
