h3 Hire Us

hr

p

strong Trade Carts

p Excite your guests with a live nitrogen show. Custom Creams can offer your guests interactive entertainment like no other, and the best bit is you can eat the end result!

p Our stylish trade carts have been custom designed to be able to operate anywhere. There is no need for a water or power supply. This makes it easy and quick to set up and means that the cart can be pitched at any location.

div.left
	div.hire-us-box.box
div.left
	div.hire-us-box2.box
div.clear

p We can provide delicious ice cream, sorbets and cocktails for up to 500 guests.

p Our patent pending CryoMixer can offer your guests a totally bespoke service. We boast the only machine in the world that offers a unique liquid nitrogen experience. We can cater for large parties supplying Ice Cream, Sorbets, low fat yoghurt and frozen cocktails.

p The Custom Creams Larder is stocked full of seasonal treats, along with the classics, and your guests are encouraged to really get involved and make their own ice cream flavour creations. It’s a great way for your guests to interact with the event and is a focal point for discussion.

div.left
	div.hire-us-box3.box
div.left
	div.hire-us-box4.box
div.clear


br

strong Nitrogen Bar

p Custom Creams can also offer that extra bit of glamour: when the sun sets and the music starts we transform the ice cream cart into a stylish ‘Nitrogen Bar’ offering the Nitrogen cocktail sorbets, each one tailored to your guest’s individual tastes. 

p For every event, we can supply a custom ingredient list. It’s this personalized interaction that separates us from the rest.

br

strong Brand Your Own Cart

p For those who want to go the extra mile to impress, we can also offer a full branding option, where we re-brand the cart incorporating your logo, text and colour pallet. We will also help you create some bespoke flavour lists. Please book at least 4 weeks in advance for this option.

br

strong Trade Shows

p Book our nitrogen ice cream cart and attract the crowds to your event/stand. No matter what industry you are in we guarantee your brand will be the focal point of any exhibition or trade show. 




p Please contact:

span Tel: 07889159378
br
span Email: 
	a(href='mailto:brad@customcreams.co.uk') brad@customcreams.co.uk

br
br