h3 Hire Us

hr

p Hire a Custom Cream Kart for your event. We can offer you a number of different options, including catering for up to 500 guests. If you just want to liven up your catering, let us come and excite your guests with a live nitrogen ice cream show. We will offer a full flavour menu including some exotic flavours from all over the world. The best bit is you can eat the end result!


div.left
	div.hire-us-box.box
div.left
	div.hire-us-box2.box
div.clear

strong Trade show option

p We have a trade show option - book our nitrogen ice cream kart and machine to attract traffic to your stool. No matter what industry you are in, we guarantee your brand will be the focal point of any exhibition or trade show. Prices start at £300 per day. 

strong Branding option

p For those who want to go the extra mile to impress, we can also offer a full branding option, where we re-brand the kart incorporating your logo and colour pallet. We will also help you create some branded flavours. Please book at least 4 weeks in advance for this option.

p Please contact us directly at 
	a(href='mailto:customcreams@gmail.com') customcreams@gmail.com
	span .
