h3 Hire Us

hr

p Entertain and excite your guests with a live nitrogen show, where guests can experience the live theatre of producing ice cream unlike any other, and the best part is you can consume the end result!

p Our patent pending CryoMixer boasts being the only machine in the world (yes WORLD) that offers a bespoke liquid nitrogen experience. We can cater for large parties supplying Ice cream, sorbets, low fat yoghurt and frozen cocktails, all made to order from ingredients chosen by your guests!!
p We offer an extensive larder and your guests are encouraged to really get involved and make their own ice cream creations. It’s a great way for your guests to interact with the night and tends to be a focal point for discussion. 
p Custom Creams offer an extra bit of razzmatazz, when the sun sets and the music starts we transform the ice cream kart into a slick 
	a(href='/nitrogen-bar') Nitrogen Bar
	span  offering the freshest Nitrogen cocktail sorbets, again, each one tailored to your guest’s individual tastes. So whether it’s a laid back sunny afternoon ice cream or a lively evening cocktail sorbet, we really can produce a unique entertaining taste sensation.

p For every event, we supply a huge host of ingredients giving your guests endless choices, it’s this personalized interaction that separates us from any other nitrogen vendors out there. 



div.left
	div.hire-us-box.box
div.left
	div.hire-us-box2.box
div.clear

strong Trade show option

p We have a trade show option - book our nitrogen ice cream kart and machine to attract traffic to your stool. No matter what industry you are in, we guarantee your brand will be the focal point of any exhibition or trade show. Prices start at £300 per day. 

strong Branding option

p For those who want to go the extra mile to impress, we can also offer a full branding option, where we re-brand the kart incorporating your logo and colour pallet. We will also help you create some branded flavours. Please book at least 4 weeks in advance for this option.

p Please contact us directly at 
	a(href='mailto:brad@customcreams.co.uk') brad@customcreams.co.uk
	span .
