h3 Hire Us

hr

p Hire a Custom Cream Kart for your event. We can offer you a number of different options, including catering for up to 500 guests. If you just want to liven up your catering, let us come and excite your guests with a live nitrogen ice cream show. We will offer a full flavour menu including some exotic flavours from all over the world. The best bit is you can eat the end result!

p Please contact us directly at 
	a(href='mailto:customcreams@gmail.com') customcreams@gmail.com