div.video-box.box

div.intro-box
	h1 Liquid nitrogen ice cream


	p Hello all you ice cream lovers! Welcome to the home of the world's first truly bespoke liquid nitrogen ice cream vendor. Custom Creams has been created to give you the ultimate artisan organic ice cream experience.

	p Unlike any other ice cream, we lovingly create each portion just for you. Whether you want a sweet tasting dessert or a cheeky frozen tipple, Custom Creams gives you what others just well… can't.

	p Using our award winning, fresh organic base mix we can create any desired flavour of ice cream, sorbet or frozen cocktails – instantly. To book us for your special event or space please contact us on the details below.

	
	div.left.contact
		span Email
	div.left
		span
			a(href='mailto:customcreams@gmail.com') customcreams@gmail.com
	div.clear

	div.left.contact
		span Telephone 
	div.left
		span 01344 291810
	div.clear

	div.left.contact
		span Mobile 
	div.left
		span 07889159378
	div.clear

div.twitter-box.box
	h4 Our tweets
	hr
	- for (var i = 0; i < twitterFeed.length; i++) {
		p
			span.twitter-box-date 
				=twitterFeed[i][0]
		p
			!=twitterFeed[i][1]
	- }



div.clear