#fb-root
	script
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=393763210706362";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));


div.video-box.box
	div.play-button-container
		div.play-button
			img(src='images/play-button.png')

div.intro-box
	h1 Liquid Nitrogen Ice Cream


	p Hello all you ice cream lovers! 

	p Welcome to the world's first 'CREATE YOUR OWN'  liquid nitrogen ice cream company. Custom Creams has been created to give you the ultimate organic ice cream experience.

	p Custom Creams is unique in the way that we use a patent pending Cryomixer to create any flavour of ice cream, sorbet or frozen cocktail whilst you wait. 

	p You simply need to choose your favourites from our larder of fresh seasonal ingredients, or even bring along your own, and we'll freeze and whip it into a delicious frozen treat in front of your eyes. The whole process takes less than 40 seconds!!!

	p Custom Creams provides a new and exciting alternative to traditional ice-cream --- Individually prepared organic portions of delectably smooth ice-cream with tailor-made flavour combinations. This isn't just ice-cream,  this is Custom Creams :-)

	p Book something amazing for your special event.

	
	div.left.contact
		span Email
	div.left
		span
			a(href='mailto:brad@customcreams.co.uk') brad@customcreams.co.uk
	div.clear

	div.left.contact
		span Telephone 
	div.left
		span 01344 291810
	div.clear

	div.left.contact
		span Mobile 
	div.left
		span 07889 159378
	div.clear

div.facebook-box.box
	div.left.facebook-icon
		img(src='images/facebook.png')
	div.left.facebook-heading
		h4 Like Us
	div.clear
	hr
	.fb-like(data-send='false', data-layout='standard', data-width='300', data-show-faces='false', data-colorscheme='light', data-action='like')

div.twitter-box.box
	div.left.twitter-icon
		img(src='images/twitter.png')
	div.left
		h4 Our Tweets
		a.twitter-follow(href='http://twitter.com/intent/user?screen_name=custom_creams',target='_blank') &raquo; Click here to follow us on Twitter!
	div.clear
	hr
	- for (var i = 0; i < twitterFeed.length; i++) {
		p
			span.twitter-box-date 
				=twitterFeed[i][0]
		p
			!=twitterFeed[i][1]
	- }



div.clear

iframe#player(type='text/html',width='1',height='1',src='http://www.youtube.com/embed/oHjHTaS3k_s',frameborder='0')

