div.video-box.box




div.intro-box
	h1 Liquid nitrogen powered ice cream
	div.intro-brought brought to you by 
	div.intro-brad Bradley Smith

div.twitter-box.box
	h4 Our tweets
	hr
	- for (var i = 0; i < twitterFeed.length; i++) {
		p
			span.twitter-box-date 
				=twitterFeed[i][0]
		p
			=twitterFeed[i][1]
	- }



div.clear