h3 Organic Ice Cream

hr

p We pride ourselves on being able to create the best ice cream on the Planet. We understand to get the best result we need to offer the very best ingredients. We searched the British Isles to find the perfect organic farm where the cows are extra happy. We find that happy cows give the best milk. Using only 100% natural organic cream, unrefined sugar and organic milk from Isle of Wight cows guarantees the best quality ice cream.

h3 Larder

hr
div.left.med-col
	p 
		span Our exciting flavours were inspired from places as far away as Japan. Choose a combination of the flowing to do it the Custom Creams way and “CREATE YOUR OWN”.

	p Real Vanilla Bean

	p Award Winning Chocolate and Chilli

	p Home Made Chocolate Brownies

	p Bitter Dark Chocolate

	p Crunchy Popcorn  
		span.flavour-note Special

	p Single/Double Espresso
		span.flavour-note Italian

	p Fresh English Strawberry

	p Rasberry

	p Black Sesame 
		span.flavour-note Japan

	p Edemame
		span.flavour-note Japan

	p Green Tea 
		span.flavour-note Japan

	p Wasabi

	p Nutella

	p Peanut Butter

	p Coconut Cream

	p Real Pistachio

	p Crushed Walnuts

	p Fresh Banana

	p Mint

	p Check our special boards for daily seasonal and 'far out' flavours. 

div.left.med-col
	div.flavour-box1.box

	p.flavour-desc Double Espresso

	div.flavour-box2.box

	p.flavour-desc Pistachio

	div.flavour-box3.box

	p.flavour-desc Japanese Black Sesame

	div.flavour-box4.box

	p.flavour-desc Green Tea
div.clear


h3 Sorbets

hr

p We have joined forces with the renowned Belviour fruit farms to offer you the premium in liquid nitrogen frozen sorbets. Unlike other sorbets, we promise that the texture is as smooth as the freshly fallen Himalayan snow with absolutely no ice grains. Using high quality natural fruit cordials or freshly pressed fruit juice we offer the finest refreshing sorbet on the planet. Each portion is served in a mock Martini glass, how’s that for a posh bit of nosh. Even add a splash of your favourite tipple to really spice up the party. 

h3 Available flavours

p Organic Elderflower 

p Raspberry and Lemon

p Apple and Ginger

p Blackcurrant and Cox Apple

p Organic Lemon

p Fresh Pressed Blood Orange

h3 Adult Cocktails

hr

p We have a number of tried and tested alcoholic cocktails that we offer as sorbets, but again the choice and mix is down to you. Here’s some ideas to get the juices following: 

p Bloody ‘Hell’ Mary

p Lime Elderflower Mojito

p Strawberry Raspberry Daiquiri 

p Old fashioned turned contemporary

p Espresso Martini

p Fresh Fruit Vodkas

p In fact, why limit you to these flavours, bring anything to the cart and we will be happy to turn it into a frozen sorbet cocktail. Who knows what you could come up with?