!!!
head
	title Liquid Nitrogen Ice Cream
	link(href='/css/site.css', rel='stylesheet')
	script(data-main='js/main', src='js/libs/require/require.js')


body

	#page
		#header
			#logo
				a(href='/')
					img(src='/images/logo.png', alt='Custom Creams - Liquid nitrogen ice cream')
			#navigation
				ul.nav-buttons
					li
						a(href='/') 
							img(src='/images/Home.png',alt='Home')
					li
						a(href='/our-story')
							img(src='/images/Our-Story.png',alt='Our Story')
					li
						a(href='/flavours')
							img(src='/images/Flavours.png',alt='Flavours')
					li
						a(href='/hire-us')
							img(src='/images/Hire-Us.png',alt='Hire Us')
					li
						a(href='/sponsors')
							img(src='/images/Sponsors.png',alt='Sponsors')
			div.clear
		!=body
	