!!!
head
	title Liquid Nitrogen Ice Cream
	link(href='/css/site.css', rel='stylesheet')
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(src='/js/main.js')
body

	#page
		#header
			#logo
				a(href='/')
					img(src='/images/logo.png', alt='Custom Creams - Liquid nitrogen ice cream')
			#navigation
				ul.nav-buttons
					li.left
						a(href='/') 
							span.nav Home
					li.left
						a(href='/our-story')
							span.nav Our Story
					li.left
						a(href='/flavours')
							span.nav Flavours
					li.left
						a(href='/hire-us')
							span.nav Hire Us
					li.left
						a(href='/sponsors')
							span.nav Sponsors
			div.clear
			div#blue-burst
				img(src='/images/Blue-Burst.png')
		div.content		
			!=body
	