h3 Nitrogen Bar

hr

div.left.large-col
	p In just 5 minutes we can transform the cute and playful ice cream kart into a fully functional cocktail bar making instant adult only sorbets served in swanky mock martini glasses.

	p Let the nitrogen bar wow your guests with live nitrogen show though out the night and let us provide you with the freshest tastiest adult only frozen treats. 



div.left
	div.nitrogen-bar-box.box

div.clear