h3	The love of ice cream

p 
	b Custom Creams 
	span is the idea created by 
	b Bradley Smith
	span , Its going to be hard talking about myself in the third person but here he goes…

p Bradley Smith loved to make things, from a young age he loved to 
	b invent 
	span and make 
	b whacky products 
	span and contraptions.

p In 2009 he decided to design an instant ice cream machine using 
	b cryogenics 
	span learnt from his industrial design degree.

p It took 6 months in a cryogenic lab to find the right method of creating 
	b the perfect nitrogen ice cream
	span . He soon put his inventors cap on and turned this method in a fully functional product, 
	b The CryoMixer.

p With help from a French ice cream expert he searched the country for the 
	b finest 
	span ice cream ingredients. He pulled in favours from friends, family and strangers (who could also see his dream) and created Custom Creams.

p 
	b 2 years 
	span in the making, Custom Creams is proud (and relieved) to launch an 
	b Ice Cream Revolution.