h3	The Love of Ice Cream

hr

p Bradley Smith loved to make things, from a young age he loved to invent and make whacky products and contraptions.

p In 2009 he decided to design an instant ice cream machine using cryogenics learnt from his industrial design degree.

p It took 6 months in a cryogenic lab to find the right method of creating the perfect nitrogen ice cream. He soon put his inventors cap on and turned this method in a fully functional product, The CryoMixer.

p With help for a French ice cream expert he searched the country for the finest ice cream ingredients. He pulled in favours from freinds, family and strangers (who could also see his dream) and created Custom Creams.

p 2 years in the making Custom Creams is proud (and relieved) to launch an Ice Cream Revolution.