h3	Our Mission - Custom Creams By Name and By Nature

hr

div.left.med-col

	p Our aim is to allow you to create any flavour combination imaginable.

	p We wanted to make the best ice cream on the planet. We understand to get the best result we need to use the very bestest ingredients. 

	p We pride ourselves on bringing our personal values of sustainable living into this exciting new business concept, our knowledge and know how in sustainable design has allowed this technology to be commercialized with little or less effect on the environment compared with traditional production methods.

	p Using only unrefined sugar, 100% natural organic cream and milk from organic farms this along with our unique method of production guarantees the highest quality end product. 

	p After all… if you’re going to treat yourself to something nice.. why not have the best?

div.left
	div.box.our-story-scene-box

div.clear