h3 Sponsors

hr

p We couldn’t have done it without the great brains, advice, good will, assistance and financial backing at these companies and organisations.
br

hr
div.sponsor
	div.left.sponsor-title Planer PLC
	div.left.sponsor-body Thank you for offering me your labatory for the development of the mixer and all the technical advice that allowed the cryo mixer to make the best ice cream.
		p
			a(href='http://www.planer.com',target='_blank') www.planer.com
	div.clear

hr

div.sponsor
	div.left.sponsor-title Ice Oxford
	div.left.sponsor-body Thank you for your advice and good will in supplying me with the products needed to supply the Cryo Mixer and doser with liquid nitrogen. Amd thank you for helping weld and braise my attempt of a mini doser.
		p
			a(href='http://www.iceoxford.com',target='_blank') www.iceoxford.com
	div.clear

hr

div.sponsor
	div.left.sponsor-title Princes Trust
	div.left.sponsor-body Thank you for aiding me in the start up process helping me get asound business plan and eventually win the funding needed to start the fabrication process.
		p
			a(href='http://www.princes-trust.org.uk',target='_blank') www.princes-trust.org.uk
	div.clear

hr

div.sponsor
	div.left.sponsor-title Thirst Solution
	div.left.sponsor-body Thank You for all your moral support and help sourcing the components that would have taken months to find.
		p
			a(href='http://www.thirstsolution.com',target='_blank') www.thirstsolution.com
	div.clear

hr

div.sponsor
	div.left.sponsor-title Brunel University
	div.left.sponsor-body For all you taught me during the best 4 years of my life and continuing support during the development stage of the Cryo Mixer.
		p
			a(href='http://www.brunel.ac.uk',target='_blank') www.brunel.ac.uk
	div.clear

hr
