h3 The Cryomixer

hr

div.nitrogen-bar-box.box


p The Cryomixer is a specifically designed machine that uses liquid nitrogen to make individual ice cream, sorbet and yoghurt portions. 

h3 What it means to customer

hr

p Why nitrogen? Nitrogen in a liquid state is cold, very cold... -197<sup>o</sup>C in fact. As nitrogen is added to the organic base mix, the latent heat is removed almost instantly. Its a known fact that the faster you freeze ice cream the smaller the ice crystals creating super smooth dense ice cream. The unique mixing method used by the Cryomixer also means we don’t add air to our mix. This is how you get the succulent bite and mouth feel of our top quality ice cream.

p Two years in development, the Cryomixer is the first ice cream machine specifically designed for custom made portions. The result is that each portion is made just for you. We try to satisfy everyone's tastes by having a huge range of ingredients to add to the mix. 

h3 Commercial Advantages

hr

p Producing ice cream on demand provides several key benefits

ul.bullet
	li Less electricity and no wastage…we’re cool, we’re also green :-)
	li We’re fast, up to one serving every 40 seconds per machine.
	li We’re generous…Unrivaled choice of delicious flavours for our lucky customers.
	li We’re smooth ; ) The microscopic ice crystals results in the smoothest ice cream ever.
	li We’re special. Our patent protected process means you just can’t get this wonderful stuff anywhere else.
	li We’re made to last. Our fully serviceable carts and Cryomixers are made in the UK to the highest standards.
	li We’re on the move. Our carts are autonomous, needing no power or water supplies, so you can expect to see us at your favourite festival soon. 

h4 How it Works
hr

p The patent pending Cryomixer produces the ice cream directly within the serving cup allowing for a quick production time. This process is vital for us to offer such a varied product range. 

p Any liquid mix that is loaded into the cup can be transformed from a liquid to a snow like treat within seconds… Even fruit bases and alcoholic cocktails.

p We are currently making 2<sup>nd</sup> generation mixers making it even easier and faster to create your bespoke portion. For purchasing please get in contact on the details below.

a(href='mailto:brad@customcreams.co.uk') brad@customcreams.co.uk