body{
	background-image:
		-webkit-gradient(linear, left top, right top,
			color-stop(0.5, #232227),
			color-stop(0.5, #efefe7));
	-webkit-background-size: 100px 100px;
	--font-family: Verdana, Helvetica;
	font-size: 1.1em;
	font-family: Georgia, Verdana, Helvetica;
	margin: 0;
	line-height: 1.8em;
}

#page{
	width: 800px;
	min-height: 500px;
	background-color: rgba(239,239,231,0.9);
	margin:15px auto;
	border: solid 8px #ffffff;
	padding: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	position: relative;
}
#logo{
	float:left;
	margin-left: 30px;
	margin-top: 5px;
}
#navigation{
	float:left;
}
.clear{
	clear:both;
}
ul, li {
    list-style-type: none;
}
ul.nav-buttons{
	margin-top: 130px;
}
ul.nav-buttons li{
	padding: 2px;
	margin-right: 24px;
}
ul.nav-buttons li a{
	text-decoration: none;
	font-size: 20px;
	color: #333333;
}
ul.nav-buttons li a:hover{
	color: #009ade;
}
li a:visited{
	color: Black;
}
.left{
	float: left;
}
.down1{
	margin-top:1px;
}
.down2{
	margin-top:2px;
}
.down3{
	margin-top:3px;
}
.up1{
	margin-top:-1px;
}
.up2{
	margin-top:-2px;
}
.up3{
	margin-top:-3px;
}
.blue-burst-home{	
	left: 249px;
}
.blue-burst-our-story{	
	left: 328px;
}
.blue-burst-flavours{	
	left: 415px;
}
.blue-burst-hire-us{	
	left: 492px;
}
.blue-burst-sponsors{	
	left: 574px;
}
#blue-burst{
	position: relative;
	z-index: -20;
	top: -62px;
	display: none;
}
.content{
	padding: 30px;
}

b{
	font-weight: 500;
	font-size: 1.3em;
	color: #555555;
}
.twitter-box{
	font-size: 0.9em;
	width: 412px;
	float:left;
	background-color: rgba(239,239,231,0.6);
	z-index: 50;
	border: solid 4px #ffffff !important;
	padding: 10px !important;
	line-height: 1.4em;
}
.twitter-box-date{
	font-weight: bold;
}
.video-box{
	height: 400px;
	background-color: Black;
	margin-top: -10px;
	z-index: 50;
	text-align: center;
	font-size: 1.6em;
	color: #666666;
}
.box{
	border: solid 6px #ffffff;
	padding: 5px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom:15px;
}
.intro-box{
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	width: 300px;
	float:left;
}
h1{
	font-weight: 500;
	font-size: 33px;
	color: #333333;
	margin-bottom: 5px;
}
h1,h2,h3,h4,h5{
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
h3{
	font-size: 1.3em;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 100;

}
h4{
	font-size: 20px;
	margin: 0;
	font-weight: 100;
}
h5{
	font-size: 18px;
}

hr { 
	height: 0; 
	border-style: dashed; 
	border-width: 1px 0 0 0; 
	border-color: #009ade; 
	margin: 0;
}
.intro-brought{
	font-style:italic;
	margin-left: 12px;
	color: #444444;
	margin-top: -5px;
}
.intro-brad{
	margin-top:3px;
	font-size: 35px;
	color: #777777;
	font-weight: 100;
}
.nav{
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
.highlight{
	border-bottom: 1px #009ade dashed;
	font-weight: bold;
}
.flavour-note{
	font-style: italic;
	font-size: 0.9em;
	color: #009ade;
	margin-left: 2px;
}
.sponsor{
	margin-top: 15px;
}
.sponsor-title{
	width: 160px;
}
.sponsor-body{
	width: 500px;
}