body{
	background-image:
		-webkit-gradient(linear, left top, right top,
			color-stop(0.5, #232227),
			color-stop(0.5, #efefe7));
	-webkit-background-size: 100px 100px;
	font-family: Verdana, Helvetica;
}

#page{
	width: 800px;
	min-height: 500px;
	background-color: #efefe7;
	opacity: 0.9;
	margin:40px auto;
	border: solid 8px #ffffff;
	padding: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#logo{
	float:left;
	margin-left: 30px;
	margin-top: 5px;
}
#navigation{
	float:left;
}
.clear{
	clear:both;
}
ul, li {
    list-style-type: none;
}
ul.nav-buttons{
	margin-top: 120px;
}
ul.nav-buttons li{
	padding: 2px;
}
.left{
	float: left;
}
.down1{
	margin-top:1px;
}
.down2{
	margin-top:2px;
}
.down3{
	margin-top:3px;
}
.up1{
	margin-top:-1px;
}
.up2{
	margin-top:-2px;
}
.up3{
	margin-top:-3px;
}
.blue-burst-home{	
	left: 249px;
}
.blue-burst-our-story{	
	left: 328px;
}
.blue-burst-flavours{	
	left: 415px;
}
.blue-burst-hire-us{	
	left: 492px;
}
.blue-burst-sponsors{	
	left: 574px;
}
#blue-burst{
	position: relative;
	z-index: -20;
	top: -62px;
}
.content{
	margin-top: -60px;
	padding: 30px;
}

b{
	font-weight: 500;
	font-size: 20px;
	color: #444444;
}